<%= form_with model: @post , url: user_posts_path(current_user) do |form| %>
    <div class='form_container'>
<p>You will found out this post in first User!</p>
  <%= form_with model: @post, url: user_posts_path(current_user), method: :post do |form| %>
    <%= form.hidden_field :author_id, value: current_user.id %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :text %>
    <%= form.text_area :text %>
    <%= form.hidden_field :comments_counter, value: 0 %>
    <%= form.hidden_field :likes_counter, value: 0 %>
    <%= form.submit 'Create Post' %>
  <% end %>
</div>
<% end %>
